<h1 style="text-align: center; font-size: 500%; text-decoration: underline; font-weight: bold;">Concluding Assignment<h1>
<h2 style="text-align: center; font-size: 250%; font-weight: bold;">Ido Israeli (ID - 212432439)<br>Jonathan Derhy (ID - 315856377)<h2>
<h2 style="text-align: center; font-size: 400%; text-decoration: underline; font-weight: bold;">Part II<h2>

<h4 style="text-decoration: underline; font-weight: bold;">Imports<h4>

In [47]:
import sys
import string
import numpy as np
import pandas as pd
import math
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

<h5 style="text-decoration: underline; font-weight: bold;">Functions for Debugging</h5>

In [48]:
#
def print_variable_data(variable, name=None):
    if not isinstance(name, str):
        name = "Unnamed Variable"
    print(f'-------------------{name}-------------------\n')
    print(f'Type: {type(variable)}')
    if isinstance(variable, np.ndarray): print(f'Shape: {variable.shape}')
    elif isinstance(variable, list): print(f'Shape: {len(variable)}')
    print(f'contents:\n{variable}')
    print("\n--------------------------------------\n")

In [49]:
from typing import Union

class TypeValidator:

    @staticmethod
    def __format_error(error_msg:str):
        max_line_len: int = max([len(line) for line in str.splitlines(error_msg)]) + 2
        dashed_line = "\n" + "-"*max_line_len + "\n" #"-------------------------------------" + "\n"
        return f'{dashed_line}{error_msg}.{dashed_line}'

    @staticmethod
    def __format_not_of_type_error_message(type_:type, variable_name:Union[str,None]=None):
        if not isinstance(type_, (tuple, type)):
            # sys.exit(f'{ValueError.__name__}: "{type_}" is not a valid type.')
            # sys.exit(TypeValidator.__format_error(ValueError.__name__, f'"{type_}" is not a valid type'))
            raise ValueError(TypeValidator.__format_error(f'"{type_}" is not a valid type'))
        name = ""
        if isinstance(type_, tuple):
            if not type_:
                # sys.exit(f'{ValueError.__name__}: no types provided.')
                # sys.exit(TypeValidator.__format_error(ValueError.__name__, "no types provided"))
                raise ValueError(TypeValidator.__format_error("no types provided"))
            for idx, t in enumerate(type_):
                if not isinstance(t, type):
                    # sys.exit(TypeValidator.__format_error(ValueError.__name__, f'"{t}" is not a valid type'))
                    raise ValueError(TypeValidator.__format_error(f'"{t}" is not a valid type'))
                if idx > 0:
                    name += ", nor of the type "
                name += "'" + t.__name__ + "'"     
        else:
            name += "'" + type_.__name__ + "'"
                  
        str = "\"" + variable_name + "\" " if variable_name is not None else ""
        return TypeValidator.__format_error(f'Variable {str}is not of the type {name}')
    
    # @staticmethod
    # def __print_not_of_type_error_message(types_:type, variable_name:Union[str,None]=None):
    #     print(TypeValidator.__format_not_of_type_error_message(types_, variable_name))

    @staticmethod
    def __print_not_of_type_error_message_and_exit(types_: type, variable_name:Union[str,None]=None):
        # sys.exit(TypeValidator.__format_not_of_type_error_message(types_, variable_name))
        try:
            type_err_msg = TypeValidator.__format_not_of_type_error_message(types_, variable_name)
        except ValueError as val_err_msg:
            raise ValueError(val_err_msg)
        raise TypeError(type_err_msg)
        # TypeValidator.__print_not_of_type_error_message(types_, variable_name)
        # sys.exit(TypeError.__name__)

    @staticmethod
    def __get_types_tuple(types_):
        if isinstance(types_, tuple):
            return types_
        if isinstance(types_, (list, np.ndarray)):
            if isinstance(types_, np.ndarray) and not types_.ndim:
                types_ = [types_.tolist()]
            return tuple(types_)
        return (types_,)

    @staticmethod
    def __check_if_not_of_types_and_handle(variable, types_, variable_name:Union[str,None]=None):
        types_tup = TypeValidator.__get_types_tuple(types_)
        # print(f'Inside __check_if_not_of_types_and_handle\n' +
        #       f'variable={variable}\n' +
        #       f'variable type is {type(variable)}\n' +
        #       f'types_ = {types_tup}\n')
        is_types_invalid = True
        try:
            if not isinstance(variable, types_tup):
                is_types_invalid = False
                TypeValidator.__print_not_of_type_error_message_and_exit(types_tup, variable_name)
        except TypeError:
            if is_types_invalid:
                raise ValueError(TypeValidator.__format_error(f'"{types_}" is/contains an invalid type'))
            raise

    @staticmethod
    def validate_variables_types(variable_list, types, variable_names_list: Union[list,str,None]=None):
        if not isinstance(variable_list, (list, tuple, np.ndarray)):
            variable_list = [variable_list]
        if not isinstance(types, (list, tuple, np.ndarray)):
            types = [types]
        if variable_names_list is None:
            variable_names_list = []
        elif isinstance(variable_names_list, str):
            variable_names_list = [variable_names_list]
        if len(variable_names_list) < len(variable_list):
            variable_names_list += [None]

        if len(variable_list) == 1:
            types = np.array(types).flatten()
            TypeValidator.__check_if_not_of_types_and_handle(variable_list[0], types, variable_names_list[0])
            return

        types_len: int = len(types)-1
        names_len: int = len(variable_names_list)-1
        types_idx = names_idx = 0
        for var in variable_list:
            TypeValidator.__check_if_not_of_types_and_handle(var, types[types_idx], variable_names_list[names_idx])
            if types_idx < types_len:
                types_idx+=1
            if names_idx < names_len:
                names_idx+=1


# temp = [1, 2, 3]
# list1 = [temp, 4]
# # print(f'temp = {temp}  --- type of temp is {type(temp)}')
# types = (str, list)
# print(f'types = {types}  --- type of types is {type(types)}')
# print()
# TypeValidator.validate_variables_types([temp], types, "temp")
# print("Success")

<style>
    .ExampleDiv {
        display: grid;
        grid-template-columns: min-content auto;
        grid-column-gap: 1vw;
    }

    .ExampleTitle {
        text-decoration: underline;
    }

    .ExampleBody {
        
    }

    li {
        list-style-type: circle;
    }
</style>

<sub>

```python
```
Remember that if you are passing a variable which is an iterable (`list`, `tuple`, or `numpy.ndarray`) for type validation, the `TypeValidator` would<br> 
take it as if it is an iterable of variables, each needs validation:
<ul>
<li>
<div class="ExampleDiv">
<span class="ExampleTitle">Example:</span>
<span class="ExampleBody">
<br>
If you have an iterable variable :

```python
x = [1, 2, 3]
```
and you try passing it like so :

```python
TypeValidator.validate_variables_types(x, (str, list), "x")
```              
The `TypeValidator` will actually check if `x[0]` is of type str, and if `x[1]` and `x[2]` are of type list.
</span>
</div>
</li>
</ul>

To avoid that - make sure you encapsulate an iterable variable within an iterable:
<ul>
<li>
<div class="ExampleDiv">
<span class="ExampleTitle">Example:</span>
<span class="ExampleBody">
<br>
If you have an iterable variable :

```python
x = [1, 2, 3]
```
try passing it encapsulated within a list (or tuple or np.ndarray), like so :

```python
TypeValidator.validate_variables_types([x], (str, list), "x")
```              
</span>
</div>
</li>
</ul>
</sub>

---

<h3 style="text-decoration: underline; font-weight: bold;">Part A: Preparing the data to train a linear classifier<h3>

<h4 style=" font-weight: bold;">Functions for Selecting Train and Test Data</h4>

In [50]:
#
def shuffle_dataframe(df):
    # exit_if_invalid_instance(df, pd.DataFrame, "df")
    TypeValidator.validate_variables_types(df, pd.DataFrame, "df")
    return df.sample(frac=1)

#
def select_train_and_test_by_train_percentage(df, train_percentage, toShuffle=False):
    # exit_if_invalid_instance(df, pd.DataFrame, "df")
    TypeValidator.validate_variables_types(df, pd.DataFrame, "df")
    if toShuffle:
        train = df.sample(frac=train_percentage)
        test = df.drop(train.index)
    elif not toShuffle:
        num_of_train_entries = (int)(df.shape[0] * train_percentage)
        train = df.head(num_of_train_entries)
        test = df.tail(df.shape[0] - num_of_train_entries)
        
    return train, test

<h4 style=" font-weight: bold;">Functions for Data Format Manipulation</h4>

In [51]:
#
def get_dictionary_from_1darray(keys):
    dictio = {}
    dictio.update({key:0 for key in keys})
    return dictio

#
def get_ndarray_from_dataframe(df):
    # exit_if_invalid_instance(df, pd.DataFrame, "df")
    TypeValidator.validate_variables_types([df], pd.DataFrame, "df")
    # return df[df.columns[:]].values
    return np.array(df)

#
def extract_desired_features(df, features_list, disregard_capitalization=True):
    # exit_if_invalid_instance(df, pd.DataFrame, "df")
    # exit_if_invalid_instance(features_list, list, "features_list")
    TypeValidator.validate_variables_types([df, features_list], [pd.DataFrame, (list, tuple, np.ndarray)], ["df", "features_list"])

    if disregard_capitalization:
        features_list: list = [s.lower() for s in features_list if isinstance(s, str)]
    matching_columns: list = [col for col in df.columns if (col.lower() if disregard_capitalization else col) in features_list]
    
    return df[matching_columns]

#
def get_features_and_classification(entry):
    """
    Separates the features of an entry from its classification, assuming the classification is found at the last index.

    :param entry: An entry of an instance that includes both the features and the classification.

    :return: A tuple of the features at index 0 and the classification at index 1.
    """
    features = entry[:-1]
    classification = entry[-1]
    return features, classification

#
def separate_features_and_classifications_for_dataframe(df):
    """
    Separates the features of all the entries in a dataframe from their respective classification.
    Assumes that the classification is found at the last index of every row.

    :param df: A pandas.DataFrame that holds entries with both features and classifications.

    :return: A tuple of the features at index 0 and the classifications at index 1.

    :error: throws a TypeError if argument df is not an instance of pandas.DataFrame
    """
    # exit_if_invalid_instance(df, pd.DataFrame, "df")
    TypeValidator.validate_variables_types([df], pd.DataFrame, "df")
    
    features = df[df.columns[:-1]].values
    classifications = df[df.columns[-1]].values
    return features, classifications

#
def separate_features_and_classifications_for_ndarray(arr):
    """
    Separates the features of all the entries in an ndarray from their respective classification.
    Assumes that the classification is found at the last index of every row.

    :param arr: A numpy.ndarray that holds entries with both features and classifications.

    :return: A tuple of the features at index 0 and the classifications at index 1.
    
    :error: throws a TypeError if argument arr is not an instance of numpy.ndarray
    """
    # exit_if_invalid_instance(arr, np.ndarray, "arr")
    TypeValidator.validate_variables_types([arr], np.ndarray, "arr")
    
    features = arr[:, :-1]
    classifications = arr[:, -1]
    return features, classifications

#
def separate_features_and_classifications_for_df_or_ndarray(table):
    """
    Separates the features of all the entries in a table from their respective classification.
    Assumes that the classification is found at the last index of every row.

    :param table: A numpy.ndarray or a pandas.DataFrame that holds entries with both features and classifications.

    :return: A tuple of the features at index 0 and the classifications at index 1.
    
    :error: throws a TypeError if argument table is not an instance of either numpy.ndarray or pandas.DataFrame
    """
    TypeValidator.validate_variables_types([table], (pd.DataFrame, np.ndarray), "table")

    if isinstance(table, np.ndarray):
        return separate_features_and_classifications_for_ndarray(table)
    if isinstance(table, pd.DataFrame):
        return separate_features_and_classifications_for_dataframe(table)
    
#
def separate_features_and_classifications(entries):
    """
    Separates the features of all the entries in a table from their respective classification.
    Assumes that the classification is found at the last index of every row.

    :param entries: A numpy.ndarray or a pandas.DataFrame that holds entries with both features and classifications.

    :return: A tuple of the features at index 0 and the classifications at index 1.
    
    :error: throws a TypeError if argument entries is not an instance of either numpy.ndarray or pandas.DataFrame
    """
    TypeValidator.validate_variables_types([entries], (pd.DataFrame, np.ndarray), "entries")

    if isinstance(entries, pd.DataFrame):
        features = entries[entries.columns[:-1]].values
        classifications = entries[entries.columns[-1]].values
    else:
        features = entries[:, :-1]
        classifications = entries[:, -1]
        
    return features, classifications

<h4 style="text-decoration: underline; font-weight: bold;">Data Extraction</h4>

In [52]:
df = pd.read_csv('./Resources/Data/data.csv')
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

<h4 style="text-decoration: underline; font-weight: bold;">Dividing the Data into Train and Test</h4>

In [53]:
number_of_all_entries: int = len(df.index)
train_percentage: float = 0.8
number_of_train_entries: int = round(train_percentage * number_of_all_entries)
number_of_test_entries: int = round((1 - train_percentage) * number_of_all_entries)

print(
    f'There are a total of {number_of_all_entries} entries.\n' +
    f'With the percentage of the train data being {train_percentage:.0%} of the total number of entries:\n' +
    f'There are a total of {number_of_train_entries} train entries\n' +
    f'and a total of {number_of_test_entries} test entries.\n' +
    f'\n({number_of_train_entries} + {number_of_test_entries} = {number_of_train_entries + number_of_test_entries})'
    )

There are a total of 8693 entries.
With the percentage of the train data being 80% of the total number of entries:
There are a total of 6954 train entries
and a total of 1739 test entries.

(6954 + 1739 = 8693)

In [54]:
D_train, D_test = select_train_and_test_by_train_percentage(df, train_percentage)

In [55]:
D_train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6949,7376_01,Europa,True,E/477/P,TRAPPIST-1e,26.0,False,0.0,0.0,0.0,0.0,0.0,Neutrin Mirinanty,True
6950,7377_01,Earth,True,G/1186/P,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Estine Steelerettt,False
6951,7379_01,Earth,False,F/1416/S,TRAPPIST-1e,20.0,False,9.0,0.0,1540.0,0.0,0.0,Annard Bryants,False
6952,7385_01,Earth,False,F/1417/S,PSO J318.5-22,19.0,False,40.0,0.0,77.0,572.0,0.0,Coracy Reyerson,False
6953,7387_01,Europa,False,C/240/P,TRAPPIST-1e,40.0,False,0.0,3508.0,761.0,12.0,32.0,Okulas Blercat,True

In [56]:
D_test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
6954,7388_01,Earth,True,G/1198/S,PSO J318.5-22,17.0,False,0.0,0.0,0.0,0.0,0.0,Sterry Mclardson,True
6955,7390_01,Earth,False,G/1190/P,TRAPPIST-1e,62.0,False,240.0,0.0,0.0,586.0,10.0,Isa Wiggs,False
6956,7391_01,Earth,True,G/1191/P,TRAPPIST-1e,32.0,False,0.0,0.0,0.0,NaN,0.0,Joycey Coffmaney,False
6957,7392_01,Earth,True,G/1192/P,TRAPPIST-1e,37.0,False,0.0,0.0,0.0,0.0,0.0,Floyde Holton,False
6958,7393_01,Earth,False,E/478/P,NaN,40.0,False,0.0,0.0,0.0,7.0,782.0,Coracy Barks,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

We chose to have 80% of the data comprise our train dataset and have the remaining 20% comprise the test dataset.<br>
This is because, when attempting to classify data, a large enough training dataset is required so that<br>
we get a good distribution of features and classifications.<br>
We don't want to have a dataset in which all entries have the same classification, because that will make it so that<br>
when we try to classify an entry that should be classified as the opposite class, there would not be any neighbor to indicate that.<br>
Because all possible neighbors wouldn't be of that classification, there is no neighbor that would gravitate the result into being the correct one.<br>
<br>
A ratio of 80-20 or even 70-30 serves us well, because we are able to have a large enough training dataset while also having a sufficient amount of entries left for testing.<br>

<h4 style="text-decoration: underline; font-weight: bold;">Picking the Desired Attributes</h4>

We want to take into account features that seem relevant

In [57]:
features_list = ["PassengerId", "HomePlanet", "Destination", "Cabin"]

<style>
    h5 {
        text-decoration: underline;
        font-size: 95%;
    }

    ol {
        border-style: solid;
    }

    li {
        font-size: 80%;
    }
    
    .bolded {
        font-weight: bold;
    }

    .underlined {
        text-decoration: underline;
    }
</style>

<h5>Attributes Picked:</h5>
<ol>
    <li><span class="underlined bolded">Passenger ID :</span> We chose...</li>
    <li><span class="underlined bolded">Home Planet :</span> We chose...</li>
    <li><span class="underlined bolded">Destination :</span> We chose...</li>
    <li><span class="underlined bolded">Cabin :</span> We chose...</li>
</ol>

<h5>Attributes Not-Picked:</h5>
<ol>
    <li><span class="underlined bolded">Passenger ID :</span> We chose...</li>
    <li><span class="underlined bolded">Home Planet :</span> We chose...</li>
    <li><span class="underlined bolded">Destination :</span> We chose...</li>
    <li><span class="underlined bolded">Cabin :</span> We chose...</li>
</ol>

<h5>Attributes Added:</h5>
<ol>
    <li><span class="underlined bolded">Passenger ID :</span> We chose...</li>
    <li><span class="underlined bolded">Home Planet :</span> We chose...</li>
    <li><span class="underlined bolded">Destination :</span> We chose...</li>
    <li><span class="underlined bolded">Cabin :</span> We chose...</li>
</ol>

In [58]:
D_train = extract_desired_features(D_train, features_list, disregard_capitalization=True)

In [59]:
D_train

     PassengerId HomePlanet     Cabin    Destination
0        0001_01     Europa     B/0/P    TRAPPIST-1e
1        0002_01      Earth     F/0/S    TRAPPIST-1e
2        0003_01     Europa     A/0/S    TRAPPIST-1e
3        0003_02     Europa     A/0/S    TRAPPIST-1e
4        0004_01      Earth     F/1/S    TRAPPIST-1e
...          ...        ...       ...            ...
6949     7376_01     Europa   E/477/P    TRAPPIST-1e
6950     7377_01      Earth  G/1186/P  PSO J318.5-22
6951     7379_01      Earth  F/1416/S    TRAPPIST-1e
6952     7385_01      Earth  F/1417/S  PSO J318.5-22
6953     7387_01     Europa   C/240/P    TRAPPIST-1e

[6954 rows x 4 columns]

In [60]:
D_test = extract_desired_features(D_test, features_list, disregard_capitalization=True)

In [61]:
D_test

     PassengerId HomePlanet     Cabin    Destination
6954     7388_01      Earth  G/1198/S  PSO J318.5-22
6955     7390_01      Earth  G/1190/P    TRAPPIST-1e
6956     7391_01      Earth  G/1191/P    TRAPPIST-1e
6957     7392_01      Earth  G/1192/P    TRAPPIST-1e
6958     7393_01      Earth   E/478/P            NaN
...          ...        ...       ...            ...
8688     9276_01     Europa    A/98/P    55 Cancri e
8689     9278_01      Earth  G/1499/S  PSO J318.5-22
8690     9279_01      Earth  G/1500/S    TRAPPIST-1e
8691     9280_01     Europa   E/608/S    55 Cancri e
8692     9280_02     Europa   E/608/S    TRAPPIST-1e

[1739 rows x 4 columns]

<h3 style="text-decoration: underline; font-weight: bold;">Part B: Training a Binary KNN classifier<h3>

<h4 style="font-weight: bold;">Functions for training a KNN Classifier</h4>

<h4 style="font-weight: bold;">Functions for Distance Calculation</h4>

In [62]:
#
def euclidean_distance(p, q):
    """
    Calculates the euclidean distance between two points of the same number of dimensions.

    :param p: A point of n dimensions.
    :param q: A point of n dimensions.

    :return: The euclidean distance between point p and point q.
    """
    
    # if not (isinstance(p, np.ndarray) and isinstance(q, np.ndarray)): return -1
    TypeValidator.validate_variables_types((p, q), np.ndarray, ["p", "q"])
    if p.ndim != 1 or q.ndim != 1: return -1
    if p.size != q.size: return -1

    dist = math.sqrt(np.square(np.subtract(q, p)).sum())
    return dist

#
def calc_euclidean_distances(p, points):
    """
    Calculates the euclidean distances between a point and multiple other points.

    :param p: A point of n dimensions.
    :param points: An array of points, each of n dimensions.

    :return: An array that contains the distance between the point p and each point in points.
    """
    return np.array([euclidean_distance(p, point) for point in points])

<h4 style="font-weight: bold;">Functions for Classifying Data</h4>

In [63]:
#
def get_indices_of_k_smallest(k, arr):
    """
    Finds the indices of the k smallest elements in an array.

    :param k: The number of smallest elements to find.
    :param arr: An array.

    :return: An unsorted array that contains the indices of the k smallest elements in arr.
    """
    if k < 0: return -1
    TypeValidator.validate_variables_types([arr], np.ndarray, "arr")
    if arr.ndim != 1: return -1
    if k > arr.size: return -1
    if k == arr.size: return np.arange(k)
    return np.argpartition(arr, k)[:k]

#
def most_common_amongst_indices(indices, arr):
    """
    Finds the most common element amongst specified indices of an array.

    :param indices: An array of indices to account for in the array.
    :param arr: An array.

    :return: The most common element found within the specified indices of the array arr.
    """
    in_indices = [arr[idx] for idx in indices if idx>=0 and idx<arr.size]
    return max(set(in_indices), key = in_indices.count)

#
def most_common_amongst_indices2(indices, arr):
    """
    Finds the most common element amongst specified indices of an array.
    Utilizes a little less efficient and less pretty, yet more simple way of achieving that.

    :param indices: An array of indices to account for in the array.
    :param arr: An array.

    :return: The most common element found within the specified indices of the array arr.
    """
    in_indices = []
    for idx in indices:
        if idx>=0 and idx<arr.size:
            in_indices.append(arr[idx])
    return max(set(in_indices), key = in_indices.count)

<h4 style="font-weight: bold;">Functions for the KNN Bigger Picture</h4>

In [64]:
#
def KNN_classification_for_single_entry(entry, table, k):
    """
    Classifies a single entry using KNN, based on pre-classified examples.

    :param entry: An instance to classify.
    :param table: A numpy.ndarray or a pandas.DataFrame of pre-classified examples.
    :param k: The number of the nearest neighbors to take into an account when classifing.

    :return: The KNN classification for the entry.

    :error: returns TypeError if argument table is not an instance of either numpy.ndarray or pandas.DataFrame
    """
    # examples_features, examples_classifications = separate_features_and_classifications_for_df_or_ndarray(table)
    examples_features, examples_classifications = separate_features_and_classifications(table)
    indices_of_k_closest_neighbors = get_indices_of_k_smallest(k, calc_euclidean_distances(entry, examples_features))
    classification = most_common_amongst_indices(indices_of_k_closest_neighbors, examples_classifications)
    return classification

#
def KNN_classification_for_multiple_entries(entries, examples, k):
    classifications = np.array([KNN_classification_for_single_entry(entry, examples, k) for entry in entries])
    return classifications

#
def classify_entries_using_KNN(entries, examples, k):
    # np.c_ translates slice objects to concatenation along the second axis.
    # np.c_[np.array([1,2,3]), np.array([4,5,6])]
    # will result in :
    # array([[1, 4],
    #        [2, 5],
    #        [3, 6]])
    classified_instances = np.c_[entries, KNN_classification_for_multiple_entries(entries, examples, k)]
    # result will look like:
    # array([[entry1, classification_for_entry1],
    #        [entry2, classification_for_entry2],
    #        [entry3, classification_for_entry3]])
    return classified_instances

<h4 style="font-weight: bold;">Functions for Accuracy Calculations</h4>

In [65]:
#
def KNN_decimal_accuracy(KNN_classified, original_classified):
    return (KNN_classified[:, -1] == original_classified[:, -1]).mean()

#
def KNN_percentage_accuracy(KNN_classified, original_classified):
    return 100*(KNN_classified[:, -1] == original_classified[:, -1]).mean()

#
def get_indices_of_max_accuracy(accuracies):
    max_accuracy = accuracies.max()
    return np.where(accuracies == max_accuracy)

<h4 style="font-weight: bold;">Functions for Classification and Accuracy Combined</h4>

In [66]:
#
def KNN_classify_and_check_accuracy(entries, examples, k, accuracy_reference=None):
    classified_instances = classify_entries_using_KNN(entries, examples, k)
    if accuracy_reference is None:
        accuracy_reference = examples
    accuracy = KNN_percentage_accuracy(classified_instances, accuracy_reference)
    return classified_instances, accuracy

# a rather slow function - a lot of computations and iterations needed
def KNN_accuracies_for_range_of_k(entries, examples, k_values, accuracy_reference=None):
    if accuracy_reference is None:
        accuracy_reference = examples
    accuracies = np.array([KNN_classify_and_check_accuracy(entries, examples, k, accuracy_reference)[1] for k in k_values])
    return accuracies

<h4 style="font-weight: bold;">Functions for Average Across Multiple Randomizations of Train and Test</h4>

In [67]:
# an incredibly slow function (probably inefficient) - takes about 4 minutes on my computer when number_of_randomizations = 100 !!!
def average_accuracies_for_multiple_randomized_train_and_test(df, train_part_deciaml, k_values, number_of_randomizations):
    train_avg_accuracies = np.zeros(k_values.size)
    test_avg_accuracies = np.zeros(k_values.size)
    train_times_k_was_max_accuracy = get_dictionary_from_1darray(k_values)
    test_times_k_was_max_accuracy = get_dictionary_from_1darray(k_values)
    
    for i in range(number_of_randomizations):
        train, test = map(np.array, select_train_and_test_by_train_percentage(df, train_part_deciaml))
        train_accuracies = KNN_accuracies_for_range_of_k(train[:, :-1], train, k_values)
        test_accuracies = KNN_accuracies_for_range_of_k(test[:, :-1], train, k_values, test)
        train_times_k_was_max_accuracy.update({k:train_times_k_was_max_accuracy[k]+1 for k in k_values[get_indices_of_max_accuracy(train_accuracies)]})
        test_times_k_was_max_accuracy.update({k:test_times_k_was_max_accuracy[k]+1 for k in k_values[get_indices_of_max_accuracy(test_accuracies)]})
        train_avg_accuracies = np.add(train_avg_accuracies, train_accuracies)
        test_avg_accuracies = np.add(test_avg_accuracies, test_accuracies)

    return (
        train_avg_accuracies/number_of_randomizations,
        test_avg_accuracies/number_of_randomizations,
        find_most_accurate_k(train_times_k_was_max_accuracy, number_of_randomizations),
        find_most_accurate_k(test_times_k_was_max_accuracy, number_of_randomizations)
        )

#
def find_most_accurate_k(times_k_was_max_accuracy, total_times_checked):
    max_val = max(times_k_was_max_accuracy.values())
    return np.array([k for k in times_k_was_max_accuracy if times_k_was_max_accuracy[k]==max_val]), 100*(max_val/total_times_checked)

<h4 style="font-weight: bold;">Functions for Visualizing Results</h4>

In [68]:
#
def print_accuracy_for_k(accuracy, k):
    accuracy = int(accuracy) if accuracy.is_integer() else round(accuracy, 4)
    print(f'For K={k}, there is {accuracy}% accuracy.')

#
def print_accuracy_per_k(accuracies, k_values, accuracy_of_what=None):
    print("----------------------------------")
    if isinstance(accuracy_of_what, str): print(f'Accuracy of {accuracy_of_what} per K:\n')
    for accuracy, k in zip(accuracies, k_values):  
        print_accuracy_for_k(accuracy, k)
    print("----------------------------------")

#
def print_best_ks_on_average(best_ks, percentage):
    print(f'On average the best K values were:')
    for k in best_ks: print(f'K={k}')
    percentage = int(percentage) if percentage.is_integer() else round(percentage, 4)
    print(f'being the K values with the highest accuracy roughly {percentage}% of the times.')

#
def graph_accuracies_of_train_and_test_over_k(train_accuracies, test_accuracies, k_arr):
    fig = plt.figure()
    ax = plt.subplot(111)

    plt.plot(k_arr, train_accuracies, color='darkorange', label="Accuracy of train", marker='o')
    plt.plot(k_arr, test_accuracies, color='blue', label="Accuracy of test", marker='o')
    indices_of_max_train = get_indices_of_max_accuracy(train_accuracies)
    indices_of_max_test = get_indices_of_max_accuracy(test_accuracies)
    plt.plot(k_arr[indices_of_max_train], train_accuracies[indices_of_max_train], 'o', color='red')
    plt.plot(k_arr[indices_of_max_test], test_accuracies[indices_of_max_test], 'o', color='red')
    # plt.plot(np.take(k_arr, indices_of_max_test), np.take(test_accuracies, indices_of_max_test), 'o', color='red')
    # plt.vlines(x = np.take(k_arr, list(set(np.append(indices_of_max_train, indices_of_max_test)))), ymin = 0, ymax = 101, colors = 'red', ls = '--')
    # plt.vlines(x = k_arr[np.unique([indices_of_max_train, indices_of_max_test])], ymin = 0, ymax = 101, colors = 'red', ls = '--')
    plt.vlines(x = k_arr[indices_of_max_train], ymin = 0, ymax = 101, colors = 'red', ls = '--')
    plt.vlines(x = k_arr[indices_of_max_test], ymin = 0, ymax = 101, colors = 'red', ls = '--')
    plt.xticks(k_arr)
    plt.yticks(np.arange(0, 101, 5))

    box = ax.get_position()
    ax.set_position([box.x0, box.y0, box.width*1.5, box.height*1.5])
    ax.legend(loc='center left', bbox_to_anchor=(1, 0.5))

    plt.xlabel(f'K')
    plt.ylabel(f'Accuracy')
    plt.title(f'Accuracies of train and test as a function of K')

    plt.show()
    return

<h4 style="text-decoration: underline; font-weight: bold;">Training a KNN classifier with k=3</h4>

In [69]:
train_as_array = np.array(D_train)
D_train_for_3, accuracy_for_3 = KNN_classify_and_check_accuracy(train_as_array[:, :-1], train_as_array, k=3, accuracy_reference=train_as_array)
accuracy_for_3

TypeError: unsupported operand type(s) for -: 'str' and 'str'